.section {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.bg h1 {
  font-size: 80px;
}

.bg h3 {
  font-size: 80px;
}
